* { font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 10px 0;
    background: url("img/header-background.png");
}

header h1 {
    font-size: 25px;
    color: #00003E;
}

body {
    color: white;
    background: url("img/main-background.jpg");
    background-size: cover;
}

#rules {
    
    min-width: 75px;
    text-align: center;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    background-color: white;
    color: #00003E;
}

#rules:hover {
    cursor: pointer;
    color:white;
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    transition-duration: .2s;
}

main table {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 75px auto;
}


main {
   text-align: center; 
}

#game-div {
    padding: 50px 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.players {
    width: 150px;
    border-radius: 10px;
}

#sheldon {
    text-align: center;
    font-size: 20px;
}

.player-name {
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    padding: 2px 4px;
    border-radius: 10px;
    cursor: default;
}

#user-name:hover {
    cursor: pointer;
}

#user {
    text-align: center;
    font-size: 20px;
}

#score {
    min-width: 500px;
}

#scoreboard {
    
    width: 175px;
    text-align: center;
    font-size: 35px;
    padding: 10px;
     border: 5px solid white;
     border-radius: 50px;
     cursor: default;
     margin: 10px auto;
 }

 #result {
     text-align: center;
     font-size: 30px;
     cursor: default;
     margin-top: 45px;

 }

 #choices {
     padding-top: 60px;
     text-align: center;
     
 }

 .choice {
     border: 3px solid white;
     border-radius: 50%;
     width: 80px;
 }

 .choice:hover {
     cursor: pointer;
     transform: scale(1.05);
     transition-duration: .2s;
 }

 .choice:active {
     transform: scale(1);
 }

 #p, #s {
     margin: 10px 70px ;
     
 }

 #l, #q {
     margin: 20px 20px 10px 30px;
 }

 .greenGlow {
    border: 5px solid rgb(60,179,113) !important;
    box-shadow: 0 0 10px 5px  rgb(60,179,113);
    transition: all .2s;

}

.yellowGlow {
    border: 5px solid #FFDC00 !important;
    box-shadow: 0 0 10px 5px #FFDC00;
    transition: all .2s;
}

.redGlow {
    border: 5px solid rgb(220,20,60) !important;
    box-shadow: 0 0 10px 5px rgb(220,20,60);
    transition: all .2s;
}
