* { font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 10px 0;
    background: url("img/header-background.png");
}

header h1 {
    font-size: 25px;
    color: black;
}

body {
    color: white;
    background: url("img/main-background.jpg");
    background-size: cover;
}

#game-div {
    padding: 50px 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.players {
    width: 150px;
    border-radius: 10px;
}

#sheldon {
    margin-left: 125px;
    text-align: center;
    font-size: 20px;
}

.player-name {
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    padding: 2px 4px;
    border-radius: 10px;
    cursor: default;
}

#user {
    margin-right: 125px;
    text-align: center;
    font-size: 20px;
}

#scoreboard {
    
    width: 175px;
    text-align: center;
    font-size: 35px;
    padding: 10px;
     border: 5px solid white;
     border-radius: 50px;
     cursor: default;
 }

 #result {
     text-align: center;
     font-size: 30px;
     cursor: default;

 }

 #choices {
     padding: 25px;
     text-align: center;
     
 }

 .choice {
     border: 3px solid white;
     border-radius: 50%;
     width: 80px;
 }

 .choice:hover {
     cursor: pointer;
     transform: scale(1.05);
     transition-duration: .2s;

 }

 #p, #s {
     margin: 10px 70px ;
     
 }

 #l, #q {
     margin: 20px 20px 10px 30px;
 }